/*------------------------BREAKFAST PAGE CSS --------------------------*/

/*-------------------------_SECTION 2 -----------------------------------*/



/*common*/
.breakfast-table h2
    {    
    width: 100%;
        color: black;
        text-align: center;
        font-size: 40px;
        background-color: #f2f2f2;
       
        
        
    }
  .price-header
{
    font-size: 30px;
    color: brown;
}
.breakfast-table table
{
    margin-left: 37.8%;
}
td,th
    {
    text-align: center;
        padding-left: 20px;
        padding: 10px;
		font-size: 30px;
       
    }


   #mobile{display: none;}
#desktop{display: inline;}

@media only screen and (max-width:1024px)
{
 
       .wrapper-breakfast
    {
        width: auto;
        margin-bottom: 50px;
        padding: 0;
    }
   td,th
    {
    text-align: center;
        padding-left: 20px;
        padding: 10px;
		font-size: 30px;
       
    }
}

@media only all and (max-width:768px){
   .breakfast-table table td,th
	{
		font-size: 1.5em;
		margin-left: 0 auto;
	}

   .header-bf
    {
        display: none;
    }
        #mobile{display:inline;}
        #desktop{display:none; }
}
